.intro-container{
  background-color:$background-color ;  
.flex-intro-sec {
  @include intro-section;
  @include width-margin-cntr;
  flex-wrap: wrap;
  color: $font-theme-color;
  .left-sec {
    cursor: default;
    line-height: 7rem;
    flex: 2;
  }
  p {
    font-size: 2rem;
  }
  h1 {
    font-size: 5rem;
    span {
      color: $font-span-color;
    }
  }
  h2 {
    font-size: 2.6rem;
  }
  span {
    color: $font-span-color;
  }

  .intro-btn {
    @include intro-btn-a;
    transition: 0.8s;
    &:hover {
      background-color: $font-span-color;
      color: $font-theme-color;
    }
  }
  .my-cv {
    @include intro-btn-cv-a;
    margin-right: 1.5rem;
    transition: 0.8s;
    &:hover {
      background-color: $font-span-color;
      color: $font-theme-color;
    }
  }
  .right-img-sec {
    flex: 1;
    img {
      width: 100%;
    }
  }
}

}